* {
  box-sizing: border-box;
}

:root {
  --peach: #e96666;
  --forest: #227842;
}

body {
  color: #1c3041;
  font-family: arial;
  background-color: lightblue;
}

h1 {
  color: var(--peach);
}

h2 {
  font-size: 20px;
  color: #0089ff;
  color: #0089ff;
  font-family: verdana;
}

h3 {
  font-size: 17px;
}

::marker {
  font-weight: bold;
  color: var(--peach);
}
