* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #1c3041;
    font-family: arial;
    background: lightblue;
}

h1 {
    text-align: center;
    color: rgb(112 47 242);
    text-align: center;
}

p {
    text-align: center;
    font-family: verdana;
    font-size: 20px;
}

.outercontainer {
    padding: 35px;
    min-height: 80dvh;
}

.outercontainer h1 {
    margin: 15px;
}